
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <link rel='stylesheet' href='/stylesheets/styles.css' />

</head>

<body>
  <header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-5">
          <a class="navbar-brand" href="#!"> <%= title %></a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                <% getLocales().forEach(locale => { %> 
                <li class="nav-item"><a class="nav-link" href="/change-locale/<%= locale %>" > <%= locale.toUpperCase() %></a></li>
                <% }) %>
                  <!-- <li class="nav-item"><a class="nav-link" href="#!">English</a></li>
                  <li class="nav-item"><a class="nav-link" href="#!">Español</a></li>
                  <li class="nav-item"><a class="nav-link" href="#!">Francais</a></li> -->
                  <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
              </ul>
          </div>
      </div>
  </nav>


    <h1>
     
    </h1>
    <p>  <%= __('Welcome to') %> <%= title %>  </p>
  </header>

  <main>
    <div>
      <h2><%= __('List of adverts') %> </h2>

      <table>
        <tr>
          <th> <%=__('Name') %> </th>
          <th> <%=__('Price') %> </th>
          <th> <%=__('Sale/Buy') %> </th>
          <th> <%=__('Tags') %> </th>     
          <th> <%=__('Image') %> </th>
        </tr>
        <% adverts.forEach((advert)=> { %>
          <tr>
            <td>
              <%= advert.name %>
            </td>
            <td>
              <%= advert.price %>
            </td>
            <td>
              <% if(advert.sale==true) { %>
                Venta
                <% } else if (advert.sale===false) { %>
                  Compra
                  <% } %>
            </td>
            <td>
              <%= advert.tags %>
            </td>
            <td>
              <a href = <%=advert.picture %> > <%= advert.picture %> </a>
            </td>
          </tr>
         <% }) %>
    </table>
  
    </div>
  </main>
                             
</body>

</html>