.title {
  text-align: center;
  margin-bottom: 3.5rem;
}

.lang-list {
  display: inline;
  margin-left: 24rem;
}
.lang-item {
  float: right;
  margin-left: 2rem;
}

.lang-list-demo {
  display: inline;
  margin-left: 70rem;
}

.lang-item-demo {
  float: right;
  margin-left: 2rem;
}
